<div class="fourareas">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><strong>Search for your favorite recipe</strong></h2>
                <hr>
            </div>
        </div>

        <div class="alert alert-danger" ng-show="vm.page_load_error"> {{vm.page_load_error}} </div>
        <div class="alert alert-warning" ng-show="vm.message"> {{vm.message}} </div>

        <div class="row">
            <div class="col-sm-9">

                <recipe class="col-sm-4 simple-recipe" ng-repeat="recipe in vm.recipeList | filter:textFilter" />

            </div>

            <div class="col-sm-3">
                <section>
                    <div class="input-group input-group-lg tpad">
                        <span class="input-group-addon glyphicon glyphicon-search"> </span>
                        <input type="text" class="form-control input-lg" name="filter " ng-model="textFilter" placeholder="search">

                    </div>
                    </h3>
                </section>
                <section>
                    <h3 class="tpad"> Tags </h3>
                    <div class="list-group tpad">
                        <a class="list-group-item active"><span class="badge">30</span> all</a>
                        <a class="list-group-item"><span class="badge">10</span> all</a>
                        <a class="list-group-item"><span class="badge">10</span> all</a>
                        <a class="list-group-item"><span class="badge">10</span> all</a>
                    </div>
                    <hr>
                </section>
            </div>





        </div>

    </div>
</div>