<div class="container">

          <div class="row">
             <div class="col-sm-6">
                <h2><strong>Add your new recipe</strong></h2>
                <hr>
             </div>
           </div>
       <div class="alert alert-danger" ng-show="vm.add_recipe_error"> {{vm.add_recipe_error}} </div>

        <form name="add_recipe_form">

              <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Title</label>
                        </div>

                        <div class="col-sm-6">
                             <input type="text" class="form-control"  maxlength="10" placeholder="Name" ng-model="newRecipe.title">
                        </div>
               </div>
                  <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Description</label>
                        </div>

                        <div class="col-sm-6">
                             <input type="text" class="form-control"  maxlength="20" placeholder="Enter a brief description"ng-model="newRecipe.description">
                        </div>
               </div>
    
                <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Category</label>
                        </div>

                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                  Category
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                  <li role="presentation">Starter</li>
                                  <li role="presentation">Main course</li>
                                  <li role="presentation">Deserts</li>
                                  <li role="presentation">Breads</li>
                                </ul>
                            </div>
                             <input type="text" class="form-control"  placeholder="category" 
                             ng-model="newRecipe.category">
                        </div>
                </div>

               <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Preparation time</label>
                        </div>

                        <div class="col-sm-6">
                             <input type="text" class="form-control"  placeholder="Preparation time in minutes" ng-model="newRecipe.preparationTime">
                        </div>
              </div>
              <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Cooking time</label>
                        </div>

                        <div class="col-sm-6">
                             <input type="text" class="form-control"  placeholder="Cooking time in minutes" 
                             ng-model="newRecipe.cookingTime">
                        </div>
                </div> 


                  <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Ingredients</label>
                        </div>

                        <div class="col-sm-6">
                              <textarea  placeholder="List all the ingredients" rows='4' style="width: 100%" 
                              ng-model="newRecipe.ingredients"></textarea>
                        </div>
                    </div>
                      <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Preparation method</label>
                        </div>

                        <div class="col-sm-6">
                              <textarea  placeholder="Tell me how to prepare your delicious recipe {{newRecipe.title}}" rows='4' style="width: 100%" ng-model="newRecipe.preparation"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-sm-4 col-sm-offset-8">
                        <a href="#" class="btn btn-warning" role="button">Cancel</a>
                         <button ng-click="addRecipe(newRecipe)" type="button" class="btn btn-success">Add new recipe</button>
                      </div> 
                  </div>
                  <div class="alert alert-success" ng-show="add_recipe_success">
                    <strong>Great new recipe added!</strong> {{add_recipe_success}}
              </div>
      </form>
  </div>