<div class="container">

          <div class="row">
             <div class="col-sm-6">
                <h2><strong>Edit details for {{vm.selectedRecipe.title}} </strong></h2>
                <hr>
             </div>
           </div>
       <div class="alert alert-danger" ng-show="vm.add_recipe_error"> {{vm.add_recipe_error}} </div>

        <form name="add_recipe_form">


          <recipe-form value="vm.selectedRecipe"></recipe-form>

             
            <div class="row form-group">
                      <div class="col-sm-4 col-sm-offset-8">
                        <a href="#" class="btn btn-warning" role="button">Cancel</a>
                         <button ng-click="vm.editRecipe(vm.selectedRecipe)" type="button" class="btn btn-success">Update recipe</button>
                    </div> 
              </div>
                  <div class="alert alert-success" ng-show="edit_recipe_success">
                    <strong>Great your recipe has been updated!</strong> {{edit_recipe_success}}
              </div>
      </form>
  </div>