html,body{

  font-family: 'Lato',sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  1background-color: #eee;

}

h1,h2,h3,h4{

font-family: 'Abel',sans-serif;

}

b,strong{

  font-weight: 400;
}


div #logo img{
  height: 100px;
}
div #logo .text-muted{
  margin-left: 70px;
  margin-top: -10px;
}


input[type=text] {
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #bbb;
}

textarea {
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #bbb;
}
.intro-block{
	background: url(../img/bg3.jpeg) repeat;
	padding: 50px 15px 60px ;
	color:orange;

}

.text-muted{

	color:orange;
	font-weight: 100;
}

.tpad{
padding-top: 25px

}
.bpad{
padding-bottom: 25px
}
.lpad{
padding-left: 25px
}


.padded{

  padding:50px;
}

.marketing{

    background-color: #F9FBE7;

}

hr{
    border-top: 1px solid rgba(51, 51, 0, 0.31);

}

.info{
  background-color:#F3FAB6;
    1background: #FF9933 repeat-x bottom;
  padding: 80px 0px;
}
.info a{

  color:#C1E1A6;
}
.info a:hover{

  color:#FF9009;
}

.main-navbar{

     background-image: linear-gradient(to bottom, #fff 0%, #C1E1A6 100%);
}

.main-navbar .navbar-nav > .active > a {

     background-image: linear-gradient(to bottom, #FF9009 0%, #f3f3f3 100%);
}

.navbar-default .navbar-nav > li > a {
    color: orange;
}

footer{
    position: relative;
    width: 100%;
    height: 135px;
    background-image: linear-gradient(to bottom, #FF9009 0%, #f3f3f3 100%);
    color:#fff;
}

.ft_space{
padding:0 10px;

}
.navbar{
  margin:0;
}
#myCarousel{

  background-color: #fff;
}

.carousel-caption{
  z-index: 10;
}
.carousel-inner > .item > img{

  1position: absolute;
  1top:50px;
  left:0;
  1ensure it fills the heigh of the browser
  1min-width: 100%;
  min-height: 500px;
  width: 100%;
}

.carousel-inner{
  height: 500px;

}

.fourareas{
  background-color:   #F1F8E9;
  padding:100px 15px;
}

.anotherarea{
   background-color:   #E1F8E9;
}

.anotherarea .sidebar{
   background-color:   #A1F8E9;
}

.map{

  height: 350px;
  width: 100%;
}

.fourareas .thumbnail
{
      min-height: 375px;
      box-shadow: 10px 10px 5px #888888;
}

a:link {
    text-decoration: none;
}


.recipes, .reviews {
    margin-top: 20px;
    padding: 0;
}

.simple-recipe .simple-note {
    cursor: pointer;
    border-bottom: 1px #CCC solid;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    margin: 0px;
    padding: 10px;
}

.modal-header
         {
             padding:9px 15px;
             background-color: #eb9316;
         }




.glyphicon-star{
  color:green;
}
