 <div class="container">

          <div class="row">
             <div class="col-sm-6">
                <h2><strong>Your review for</strong></h2>
                <hr>
             </div>
           </div>


              <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Your name </label>
                        </div>

                        <div class="col-sm-6">
                             <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
                        </div>
               </div>

       <small class="rating-stars" rating-stars rating="{{recipe.rating}}"></small>

               <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Your rating</label>
                        </div>

                        <div class="col-sm-6">
                             <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
                        </div>
              </div>
              
                  <div class="row form-group">
                        <div class="col-sm-4">
                           <label for="exampleInputEmail1">Review</label>
                        </div>

                        <div class="col-sm-6">
                              <textarea  placeholder="Your comments..." rows='4' style="width: 100%"></textarea>
                        </div>
                    </div>


            <div class="row form-group">
                    <a href="#" class="btn btn-primary push-left" role="button">Cancel</a> 
                      <a href="#" class="btn btn-primary push-right" role="button">Add</a> 
             </div>
                  
                  

  </div>



