doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/bootstrap/css/sandstone.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
body
    block content
    script(src="/javascripts/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
